@model IEnumerable<NoStop.MODEL.ViewModels.qtdFila>

@{
    ViewBag.Title = "Index";

    // Não necessita de TypeCasting
    var vwBag = ViewBag.vwBag;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Posição na fila: @vwBag.qtdNaFila
        </th>
        <th>
            Clientes na sua frente: @vwBag.nAtendidos
        </th>
        <th></th>
    </tr>
    <tr>

    </tr>
</table>

