@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Projeto NoStop<br />
    Resende, Rio de Janeiro<br />
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:reidner.ferreira@aedb.br">reidner.ferreira@aedb.br</a><br />
</address>